.about-us {
  display: flex;
  align-items: center;
  height: 100vh;
}

.about-us__image {
  transition: 0.3s;
  box-shadow: 0px 0px 20px 0px #ccc;
  background-size: cover;
  display: block;
  height: 60%;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 861px) {
  .about-us__image {
    display: none;
  }
}

.about-us__text {
  padding: 20px 30px;
}

.about-us__header {
  font-size: 35px;
  line-height: 1.2;
  margin: 0;
}

@media (max-width: 767px) {
  .about-us__header {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.about-us__paragraph {
  line-height: 1.8;
  color: #777;
  font-size: 18px;
  padding-bottom: 15px;
}

@media (max-width: 861px) {
  .about-us__paragraph {
    font-size: 18px;
    line-height: 2;
  }
}

@media (max-width: 767px) {
  .about-us__paragraph {
    font-size: 18px;
    line-height: 1.7;
  }
}

@media (max-width: 667px) {
  .about-us__paragraph {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media (max-width: 375px) {
  .about-us__paragraph {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (max-width: 320px) {
  .about-us__paragraph {
    font-size: 14px;
    line-height: 1.5;
  }
}

.about-us__button {
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.445);
}

@media (max-width: 767px) {
  .about-us__button {
    font-size: 18px;
  }
}

.about-us__button:hover {
  color: black;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
}
