.scrollup {
  height: 42px;
  width: 42px;
  background: url(../images/up-arrow.svg) no-repeat 0px 0px;
  text-decoration: none;
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 1;
  transition: 0.3s;
}

.scrollup:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .scrollup {
    width: 32px;
    height: 32px;
    right: 10px;
    bottom: 10px;
  }
}
